</main>

<footer>
    <a href="/index.html"><img alt="" src="/res/jlw-logo.svg" height=512 width=512>Jacob Westall</a>
    <ul id=social>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="https://www.youtube.com/channel/UCEOuNtcigFUx8Td6es5jioA">Youtube</a></li>
        <li><a href="https://mathstodon.xyz/@jwestall_com">Mastodon</a></li>
        <li><a href="https://ko-fi.com/jwestall">Donate</a></li>
    </ul>
</footer>

</body>
</html>
